.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px 0px 70px 0px;
}

.topmargin {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.image {
  max-width: 200px;
}

.arrow {
  margin: 20px;
}

.graphics {
  display: flex;
  align-items: center;
}

.symbols {
  margin: 20px;
}

.colors {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.container, .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}