.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px 0px 30px 0px;
}

.image {
  max-width: 240px;
  margin: 20px;
  opacity: 50%;
}

.bigpar {
  width: 270px;
  overflow-wrap: wrap;
}

.pics {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFE9A7;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
}
.menusymbol {
  margin:  10px 50px;
}

.downsymbol {
  margin:  10px 35px;
}

.container, .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}